*{
	margin: 0;
	padding: 0;

}
.box{
	height: 50px;
	width: 500px;
	background-color: white;
	margin: 20px;
	display: inline-flex;
	font-size: 50px;
	justify-content: center;
	align-items: center;
	margin: 10px;
}